.equipment-list {
    font-family: Arial, sans-serif;
}

.equipment-item {
    padding-left: 20px;
}

.equipment-item img {
    max-width: 50px;
    max-height: 50px;
}

.expand-collapse-indicator {
  cursor: pointer;
  padding-left: 5px;
}

